<h1>{{localize "FFd20.Help.Content.Items.Flags.Label"}}</h1>

<p>{{localize "FFd20.Help.Content.Items.Flags.Desc.Basic"}}</p>

<h2>{{localize "FFd20.FlagsDictionary"}}</h2>

<p>{{{localize "FFd20.Help.Content.Items.Flags.Desc.DictionaryFlags.Basic"}}}</p>
